{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.11.0-alpha3"}
           org.clojure/clojurescript           {:mvn/version "1.10.893"}
           com.fulcrologic/fulcro              {:mvn/version "3.5.9-RC1"}
           com.fulcrologic/fulcro-native       {:mvn/version "0.0.9"}
           com.fulcrologic/fulcro-garden-css   {:mvn/version "3.0.9"}
           com.fulcrologic/guardrails          {:mvn/version "1.1.7"}
           garden/garden                       {:mvn/version "1.3.10"}
           com.fulcrologic/semantic-ui-wrapper {:mvn/version "2.0.1"}
           edn-query-language/eql              {:mvn/version "2021.07.18"}
           org.clojure/core.async              {:mvn/version "1.5.640"}
           com.wsscode/pathom                  {:mvn/version "2.4.0"}

           ;; mock database
           datascript/datascript               {:mvn/version "1.3.0"}

           ;; web server
           http-kit/http-kit                   {:mvn/version "2.6.0-alpha1"}
           bk/ring-gzip                        {:mvn/version "0.3.0"}
           bidi/bidi                           {:mvn/version "2.1.6"}
           hiccup/hiccup                       {:mvn/version "2.0.0-alpha2"}
           mount/mount                         {:mvn/version "0.1.16"}
           ring/ring-core                      {:mvn/version "1.9.4"}
           ring/ring-defaults                  {:mvn/version "0.3.3"}
           metosin/reitit-ring                 {:mvn/version "0.5.15"}

           ;; logging
           com.taoensso/timbre                 {:mvn/version "5.1.2"}}

 :aliases {:cljs {:jvm-opts   ["-DSENTE_ELIDE_JS_REQUIRE=true"]
                  :extra-deps {com.cognitect/transit-cljs          {:mvn/version "0.8.269"}
                               com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.0"}
                               binaryage/devtools                  {:mvn/version "1.0.4"}}}
           :dev  {:extra-paths ["src/dev"]
                  :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                                thheller/shadow-cljs        {:mvn/version "2.16.6"}}}}}
